<h1> About Us </h1>
<p> We are currently 4th-year undergraduate EE/CS students at UC Berkeley, and are planning to graduate in Spring 2012. We wrote this website and Android app as part of a research project under Professor Dawn Song and graduate student Ian Fischer.</p>
<table border="0" width="100%">
  <tr style="padding:50px">
    <td style=padding:20px;"><%= image_tag "kyle.jpg" %></td>
    <td style="width:100%"></td>
    <td style="padding:20px;"><%= image_tag "alex.jpg" %></td>
  </tr>
  <tr style="padding:50px">
    <td style="padding:20px;"> This is Kyle.</td>
    <td style="width:100%"></td>
    <td style="padding:20px"> This is Alex. I like systems and cloud computing, and will pursue my interests in grad school or industry after finishing my studies.</td>
  </tr>
</table>
<a href="" id= "back">Back</a>
<script type="text/javascript">
      var width = $(window).width();
      var height = $(window).height();
      $("a").attr("href", "/login/" + width + "/" + height);
      $(window).load(function() {
        fancyboxHelpers.resize(document);
      });

</script>
