<html>
<head>
<title>Test</title>
</head>
<body>
Testing:<br>
<iframe src="http://192.168.1.4:8080" name="frame1" scrolling="no" frameborder="no" align="center" height = "100%" width = "100%">
</iframe>
</body>
</html>
