<html>
<head>
<title>Test</title>
</head>
<body>
Welcome to Activity Tracker<br/>
<%= link_to 'Display all users', users_path %>
<br/>
<%= link_to 'Display all events', events_path %>
<br/>
<%= link_to 'Display test page', 'test' %>
</body>
</html>
