<link href="/stylesheets/protovis.tipsy.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript">
  // Returns a dictionary mapping tags to aggregated times.
  function computeTagTimes(activities) {
    var tagTimes = new Object();
    for (var i = 0; i < activities.length; i++) {
      var activity = activities[i];
      var startTime = activity['startTime'];
      var endTime = activity['endTime'];
      var totalTime = (endTime - startTime) * 1.0 / (1000 * 60 * 60);
      var tag = activity['tag'];
      if (tag == null || tag == 'Select a tag') {
        tag = 'Other';
      }
      var prevValue = tagTimes['tag'];
      if (prevValue == null) {
        prevValue = 0;
      }
      tagTimes[tag] = prevValue + totalTime;
    }
    return tagTimes;
  }

  // Split a dictionary mapping tag->time into an array of (tag,totalTime)
  // tuples.
  function generateTuples(tagTimes) {
    var tagTimeTuples = new Array();
    tagTimeTuples.totalTime = 0;
    for (var tag in tagTimes) {
      var tagTimeTuple = new Object();
      tagTimeTuple.tag = tag;
      tagTimeTuple.totalTime = tagTimes[tag];
      tagTimeTuples.totalTime += tagTimes[tag];
      tagTimeTuples.push(tagTimeTuple);
    }
    return tagTimeTuples;
  }

  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Event');
    data.addColumn('number', 'Hours');
    var tagTimes = computeTagTimes(unencryptedEvents);
    for(var tag in tagTimes) {
      if(tag == '') {
        data.addRow(['Other',  tagTimes[tag]]);
      } else {
        data.addRow([tag,  tagTimes[tag]]);
      }
    }
    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
    chart.draw(
      data,
      {
        chartArea: { width:"80%",height:"80%" },
        width: 550,
        height: 400,
        title: 'My Events (in hours)',
        titleTextStyle: { color: "Black", fontName: "Arial", fontSize: 20 }
      }
    );
  }

  var unencryptedEvents = encryptionHelpers.unpackEncryptedEvents(<%= raw @contents %>)
  var tagTimeTuples = generateTuples(computeTagTimes(unencryptedEvents));

</script>

<h1>My Events (in hours)</h1>

<div id="chart_div">
  <script type="text/javascript+protovis">
    var RADIUS = 250;
    var ERADIUS = RADIUS + 10;
    // Place a pie chart here.
    new pv.Panel()
        .width(ERADIUS * 2)
        .height(ERADIUS * 2)
      .add(pv.Wedge)
        .def("o", -1)
        .data(tagTimeTuples)
        .outerRadius(RADIUS)
        .angle(function(d) d.totalTime / tagTimeTuples.totalTime * 2 * Math.PI)
        .left(function() ERADIUS
            + Math.cos(this.startAngle() + this.angle() / 2)
            * ((this.o() == this.index) ? 10 : 0))
        .bottom(function() ERADIUS
            - Math.sin(this.startAngle() + this.angle() / 2)
            * ((this.o() == this.index) ? 10 : 0))
      .text(function(d) d.tag)
      .event("mouseover", function() this.o(this.index))
      // this second mouseover function overrwrites the one above
      .event("mouseover", pv.Behavior.tipsy({gravity: "nw", fade: true}))
      .root.render();
  </script>
</div>
