<link type="text/css" rel="stylesheet" href="/jquery-ui-1.8.13/css/redmond/jquery-ui-1.8.13.custom.css"/>
<script src="/jquery-ui-1.8.13/js/jquery-ui-1.8.13.custom.min.js" type="text/javascript" charset="utf-8"> </script>
<script type='text/javascript' src='/fullcalendar/fullcalendar.js'></script>

<ul id="toolbar" class="ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
  <p style="text-align:center"><big>Creating a New Event</big></p>
</ul>
<br />
<%= render 'form' %>

<INPUT TYPE="button" NAME="myButton" VALUE="Create Event" onClick="submitButton()" > 

<br />
<br />


